.edgeCanvas {
  position: absolute;
  width: 160px;
  height: 440px;
  border: 0;
  display: inline-block;
  margin-left: 260px;
  margin-top: 68px;
  z-index: -100;
}

.kWKfgJ {
  display: block;
  overflow: visible;
  position: absolute;
}