.edgeCanvas {
  position: absolute;
  width: 160px;
  height: 440px;
  border: 0;
  display: inline-block;
  margin-left: 260px;
  margin-top: 74px;
  z-index: -1;
}
.edgeCanvas.reverse {
  margin-left: 0;
  transform: translateX(-100%);
}

.kWKfgJ {
  display: block;
  overflow: visible;
  position: absolute;
}