.cardContainer {
  background: #ffffff;
  border-radius: var(--card-radius);
  width: 260px;
  /* box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.3); */
  border: 1px solid var(--grey-300);
}

.cardTitle {
  height: 40px;
  border-bottom: 1px solid var(--grey-200);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

h3 {
  font-size: 10px;
  color: var(--blue-600);
  letter-spacing: 0.8px;
  text-align: left;
  line-height: 42px;
  padding-left: 20px;
  text-transform: uppercase;
  font-family: "PublicSans-Medium";
}

.cardContainer.addSpacer {
  margin-top: 24px;
}

.cardContainer.target {
  border: 2px solid var(--blue-500);
}

.cardContainer.executions {
  background: #F8FBFF;
  border: 1px solid #CCE4FF;
}
.cardContainer.executions .cardTitle {
  border-bottom: 0;
}
.cardContainer.executions h3 {
  color: #0A3B71;
}